body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 4em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input {
  width: 15em;
  height: 2.5em;
  margin-right: 0.5em;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.inputForm {
  margin-bottom: 1em;
}

.button {
  margin-bottom: 1em;
}

.button-nav {
  margin-right: 2em;
}



/* Nav, Footer */
.navigation, .footer {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #bf0000, grey);
}

.navigation .logo__img, .footer .logo__img{
  height: 50px;
  max-width: 100%;
}

.navigation a {
  color: #f8f0e4;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: 'EB Garamond', serif;
}

/* .navigation div {
  padding: 0 0;
} */
.navigation div.logo {
  padding: 0.3rem 4rem;
}

.footer div.logo {
  padding: 0 4rem;
}


.navigation div.nav-links, .footer div.nav-links {
  display: flex;
  align-items: center;
}

.copyright {
  margin-right: 6em;
  color: #f8f0e4;
}

.footer {
  margin-top: 2rem;
}

@media(max-width: 630px) {
  .navigation a {
    padding: 1rem 2rem;
  }
}

@media(max-width: 500px) {

  .navigation a {
    padding: 1rem 1rem;
    }

    .navigation div.logo {
      padding: 0.3rem 1rem;
  }

  .navigation .logo__img, .footer .logo__img{
    min-height: 20px;
    /* min-width: 80px !important; */
  }
}

.App {
  text-align: center;
}