body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input {
  width: 15em;
  height: 2.5em;
  margin-right: 0.5em;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.inputForm {
  margin-bottom: 1em;
}

.button {
  margin-bottom: 1em;
}

.button-nav {
  margin-right: 2em;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #bf0000, grey);
}

.navigation .logo__img {
  max-height: 80px;
}

.navigation a {
  color: #f8f0e4;
  padding: 2rem 4rem;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: 'EB Garamond', serif;
}

.navigation div {
  padding: 0 0;
}
.navigation div.logo {
  padding: 0 4rem;
}

.navigation div.nav-links {
  display: flex;
  align-items: center;
}